.form-container{
  width: 450px;
  border-radius: 20px;
}

@media screen and (max-width: 415px) {
.form-container{
  width: 300px;
};
}

input{
  border-top: 0;
  border-left: 0;
  border-right: 0;
  margin-bottom: 15px;
  outline: none;
}
input::placeholder{
  color: blue;
}
.add-btn{
  background-color: rgb(78, 253, 121);
  box-shadow: 1px 1px 10px 1px rgb(251, 0, 255);
  padding: 4px 40px 4px 40px;
}
.reset-btn{
  background-color: rgb(234, 255, 0);
  box-shadow: 1px 1px 10px 2px rgb(204, 255, 0);
  padding: 4px 30px 4px 30px;
}

.add-btn:hover, .reset-btn:hover{
  opacity: 0.6;
  transition: 0.5s;
}

